@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* :root is same as html 
* The box-sizing property allows us to include the padding and border in an element's total width and height.
* fixed and absolute are almost same they both pop out from normal flow but fixed stay at a position and absolute is replaced by the next element
*/
:root {
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #b32edd;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
}

nav {
    background-color: var(--primary-color);
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    transition: all 0.3s;
    /* justify-content: center; */
}

nav .logo img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

nav ul {
    padding: 0;
    width: 100%;
    margin-top: 30px;
}

nav ul li {
    list-style: none;
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
    padding: 20px;
}

nav ul li:hover {
    text-decoration: underline;
}

nav ul li:first-of-type {
    border-top: 2px solid rgba(200, 200, 200, 0.1);
}


header {
    background-color: var(--primary-color);
    font-size: 130%;
    color: white;
    text-align: center;
    position: relative;
    align-items: center;
    padding: 40px 15px;
}

header h1 {
    margin: 0;
}

button,
input[type='submit'],
.myBar {
    background-color: var(--secondary-color);
    border: 0;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.myBar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cta-btn {
    font-size: 68%;
    padding: 13px 30px;
}

section {
    padding: 0 40px;
    margin: 0 auto;
    max-width: 800px;
}

.model-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.model {
    /* actual box in the middle */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    max-width: 100%;
    width: 380px;
}

.show-modal {
    display: block;
}

.model-header {
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: white;
}

div h3 {
    margin: 0;
}

.model-content {
    background-color: white;
    padding: 30px 20px 10px 20px;
}

div p {
    margin-top: 0;
}

form input {
    display: block;
    width: 100%;
    height: 1.6rem;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 80px;
}

.show-nav {
    transform: translateX(200px);
}